body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkslategray;
}

.header {
    background-color: rgb(184, 153, 114);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


